{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Edit Task</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tasks') }}">back to list</a>
</div>
{% endblock %}
